FLASK_ENV=development
SECRET_KEY=change-me
MONGO_URI=mongodb://localhost:27017/dhodhsar_portal
UPLOAD_FOLDER=app/static/uploads
FLASK_SECRET_KEY=tumhari_super_secret_key_yahan
ADMIN_PASSWORD=Jethalal@9004
ADMIN_USERNAME=admin